body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
    background-color: lightblue;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
footer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tableContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

table {
    margin-top: 50px;
    border-collapse: collapse;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
}
thead > tr > th {
    background-color: lightblue;
    color: #ffffff;
    text-align: left;
    font-weight: bold;    
}

th, td {
    padding: 12px 15px;
    border: none;
}


tbody tr {
    border-bottom: 1px solid #dddddd;
}

tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

tbody tr:last-of-type {
    border-bottom: 2px solid lightblue;
}
